body {
	background-color: #c4c4c4;
	margin:0;
	overflow:hidden;
}
h1 {
	font-family: sans-serif;
	font-size: 9vw;
}
h5 {
	font-family: sans-serif;
	font-size: 2.5vw
}
#title {
	margin:0;
	position:absolute;
	float: right;
	right: 51%;
	transition: right 0.5s;
}
.drop {
	color: #000000;
	background-color: #c4c4c4;
	width: 50%;
	height: 100vh;
	float: left;
	transition: background-color 0.5s, width 0.5s;
	position: relative;
	top: 0px;
	left: 0px;
	z-index: -10;
}
.fetch {
	color: #ffffff;
	background-color: #24272e;
	width: 50%;
	height: 100vh;
	float: right;
	transition: background-color 0.5s, width 0.5s;
}
.drop-before:hover {
	background-color:#24272e;
	color:#ffffff;
}
.drop:hover ~ #title {
	color:#ffffff;
}
.fetch-before:hover {
	background-color:#24272e;
	color:#ffffff;
}
.drop-before:hover ~ .fetch {
	background-color: #c4c4c4;
	color: #000000;
}