body {
	margin: 0;
	overflow: hidden;
	font-family: sans-serif;
}
#title {
	font-size: 2.5vw;
	color: #ffffff;
	position: absolute;
	float: left;
	margin-top: 1%;
	left: 1%;
	transition: left 0.5s, color 0.5s;
}
.option-pane {
	width: 50%;
	height: 100vh;
	transition: background-color 0.5s, width 0.5s;
}
.option-heading {
	font-size: 9vw;
	margin:0;
	text-align: center;
	padding-top: 39vh;
	padding-bottom: 39vh;
	z-index: -10;
	opacity: 1;
	transition: opacity 0.5s, visibility 0.5s;
}
#cache-pane {
	color: #ffffff;
	background-color: #000000;
	float: left;
}
#fetch-pane {
	color: #000000;
	background-color: #ffffff;
	float: right;
}